body {
    background-image: url('images/Are You a Pet Photographer_ Here’s What Pet Marketing Unleashed Has for You! (1).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
