header img{
    width:140px;
    border-radius:20px;
    margin-bottom:15px;
}

.logo{
    display:block;
    margin:auto;
}
body{
    background-image:url('images/yourimage.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

button{
    background:#25D366;
    color:green;
    padding:14px 28px;
    border:rounded;
    border-radius:50px;
    font-size:16px;
    font-weight:bold;
    box-shadow:0 0 15px #25D366;
    transition:0.3s;
}
<button>View Details</button>

button{
  background: light (45deg,#00c853,#00e676);
}
<button>grooming</button>

button{
  background: yellow (45deg,#00c853,#00e676);
}
<button>🐕 pet sale</button>

button{
  background: green (45deg,#00c853,#00e676);
}
<button>💉 vaccination</button>

button{
  background: white (45deg,#00c853,#00e676);
}
button:hover{
    transform:translateY(-4px);
    box-shadow:0 0 25px #25D366;
}
<button>view details</button>
button{
    background:light sky (45deg,#00c853,#00e676);
    
